[submodule "rocksdb"]
	path = librocksdb_sys/rocksdb
	url = https://github.com/yujuncen/rocksdb.git
	branch = iter-sst

[submodule "titan"]
	path = librocksdb_sys/libtitan_sys/titan
	url = https://github.com/tikv/titan.git
	branch = master
